{% extends "user/home_layout.html" %}

{% block content %}
<div class="content px-3 py-3 bg-white">
    <form id="myform">
        <div id="msg"></div>
<div class="row">
<div class="col">
  
    {{ cform.email.label }}
    {{ cform.email(class_='form-control border-success') }}
</div>
<div class="col">
    <label class="text-danger">The field is required</label><br>
    {{ cform.csrf_token }}
    {{ cform.btnsubmit(class_='btn btn-danger noround')}}
</div>
</div>
</form>
</div>
{%endblock%}

{% block customjs %}
<script type="text/javascript">
$(document).ready(function(){
    $('#btnsubmit').click(function(event){
        event.preventDefault()          
        var myform = document.getElementById('myform')  
        var data2send = $("#myform").serialize()//new FormData(myform)  
        $.ajax({
            url:"/ajaxopt/",
            type:"post",
            data:data2send,
            dataType:'json',
            error:function(errmsg){
                console.log(errmsg)
            },
            success:function(serverRsp){//will be a js object                
                $("#msg").html(serverRsp['message'])
                $("#msg").addClass(serverRsp['bsclass'])
            },
            complete:function(){
                $('#btnsubmit').val('Subscribe')
            },
            beforeSend:function(){
                $('#btnsubmit').val('Please wait...')
            }
        })
    })
})
</script>

{%endblock%}