{% extends "user/home_layout.html"%}
{% block featured %} {% endblock %}
{% block partner %} {% endblock %}


{% block content %}
<!--The home page can populate this for other contents like partner hotel-->
<div class="layout" id="partner">  
  <div class="container px-4" id="custom-cards">
    <div class="row">
      <div class="col">
        <select id="category" class="form-select form-select-lg border-primary">
          <option value="">ALL Categories</option>
          {% for c in cats %}
          <option value="{{ c.cat_id }}">{{ c.cat_name }}</option>
          {%endfor%}
        </select>
      </div>    
      <div class="col">
        <input type="text" id="title" class="form-control form-control-lg border-priamary" placeholder="Type a keyword">
      </div>  
      <div class="col">
        <button class="btn btn-primary noround btn-lg col-12" id="btnsearch">Search</button>
      </div>
    </div>



    <h2 class="pb-2 border-bottom">Explore Available Books</h2>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5" id="searchcontainer">
     {% for b in books %}
        <div class="col">
        
       <img src="{{ url_for('static',filename='uploads/'+b.book_cover)}}" class="img-fluid bk" alt="">   

       <div class="deets">
        <h6><a href="/books/details/{{b.book_id}}"> {{ b.book_title}} </a></h6>
        <p><i>{{ b.catdeets.cat_name}}</i></p>
        <p><button class="btn btn-sm btn-warning">{{b.bookreviews|count}} Reviews</button></p>          
        
       </div>  
       </div>
       {%endfor%}
          
    </div>
  </div> 
 </div>

<!-- end more content-->
{% endblock content %}
 

{% block customjs %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#btnsearch").click(function(){
      //retrieve the data
      var cat = $('#category').val()
      var title =$('#title').val()
      //make ajax call
      data2send = {"category":cat,"title":title}
      $.ajax({
        url:"/search/book",
        data:data2send,
        type:'get',
        beforeSend:function(){
          $("#btnsearch").html("Please wait...")
        },
        success:function(rsp){ 
          $('#searchcontainer').html(rsp)
         },
        error:function(err){ console.log(err)},
        complete:function(){
          $("#btnsearch").html("Search")
        }
      })
    })    
  })


</script>
{% endblock %}


